amqp>=5.1.1
billiard>=4.1.0
blinker>=1.6.2
boto3>=1.28.30
botocore>=1.31.30
celery>=5.3.1
click>=8.1.7
click-didyoumean>=0.3.0
click-plugins>=1.1.1
click-repl>=0.3.0
colorama>=0.4.6
dnspython>=2.4.2
eventlet>=0.33.3
Flask>=2.3.2
Flask-Login>=0.6.2
Flask-Mail>=0.9.1
Flask-SQLAlchemy>=3.0.5
fsspec>=2023.6.0
greenlet>=2.0.2
itsdangerous>=2.1.2
Jinja2>=3.1.2
jmespath>=1.0.1
joblib>=1.3.2
kombu>=5.3.1
MarkupSafe>=2.1.3
numpy>=1.25.2
pandas>=2.0.3
prompt-toolkit>=3.0.39
psycopg2>=2.9.7
python-dateutil>=2.8.2
pytz>=2023.3
s3fs>=0.4.2
s3transfer>=0.6.2
scikit-learn>=1.3.0
scipy>=1.11.2
six>=1.16.0
SQLAlchemy>=2.0.20
threadpoolctl>=3.2.0
typing_extensions>=4.7.1
tzdata>=2023.3
urllib3>=1.26.16
vine>=5.0.0
wcwidth>=0.2.6
Werkzeug==2.3.7
